<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="./bootstrap.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="restful">
            <file>Tests/ConnectorTest.php</file>
        </testsuite>
        <testsuite name="extension">
            <file>Tests/ExtensionTest.php</file>
            <file>Tests/ExtensionPoolTest.php</file>
        </testsuite>
        <testsuite name="model">
            <file>Tests/ModelTest.php</file>
        </testsuite>
    </testsuites>
    <extensions>
        <extension class="Imi\TDengine\Test\PHPUnitHook" />
    </extensions>
</phpunit>
